.divInputEmail1 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 20px;
    width: 35vw;
    font-family: "Montserrat", sans-serif;
}

.childDivInputEmail1 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100vh;
    margin-left: 2vw;  
}

.labelLogin1 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 32px;
    font-weight: bold;
}

.label1 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-weight: bold;
}

.divButtons1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 19vh;
    gap: 1vh;
}

.divButtons1 p {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-weight: bold;
}